* {
    padding: 0;
    margin: 0;
}

body {
    background-color: darkturquoise;
}

#header { 
padding-right: 15%;
padding-left: 15%; 
}

#header li {
    list-style: none;
}

#main p {
    font-size: large;
}
